<%- include('header'); -%>
<div class="input container-fluid">
    <h2>Input URL:</h2>
    <form action="/" method="POST">
      <div class="input-box form-group">
        <input type="url" class="form-control" id="url"  name="url" placeholder="Enter URL">
      </div>
      <button class="btn" type="submit"><i class="gg fa fa-gg-circle"></i></button>
    </form>
      
    </form>
    
<%- include('footer'); -%>