body{
    padding: 5%;
}
button{
    background-color:rgb(24, 26, 27);
    margin: 2% !important;
    padding: 0% !important;
}
h1{
    color: beige;
    font-family: 'Praise', cursive;
    
}
h2{
    color: cornsilk;
}

p{
    color: black;
}

.input{
padding: 5%;
}

.heading{
    padding:5%;

}
.card{
    margin:1%;
}